# Quantitative Descriptive Statistics

# 1. Import data

In [8]:
# panda reference - https://pandas.pydata.org/docs/reference/frame.html
import pandas as pd
df = pd.read_excel('Number of cycles to failure.xlsx')  
df.head()

   Number of cycles to failure
0                          375
1                          706
2                          758
3                          785
4                          798

# 2. Summary statistics

In [2]:
df.describe()

       Number of cycles to failure
count                    70.000000
mean                   1403.657143
std                     402.385239
min                     375.000000
25%                    1102.000000
50%                    1436.500000
75%                    1716.000000
max                    2265.000000

# 3. Statistics

## 3.1. Measure of order: max/min, percentile, quartile

In [9]:
print('max = ', df['Number of cycles to failure'].max())
print('min = ', df['Number of cycles to failure'].min())
print('5th percentile = ',df['Number of cycles to failure'].quantile(.05))
print('First quartile = ',df['Number of cycles to failure'].quantile(.25))
print('Second quartile = ',df['Number of cycles to failure'].quantile(.5))
print('Third quartile = ',df['Number of cycles to failure'].quantile(.75))

max =  2265
min =  375
5th percentile =  790.85
First quartile =  1102.0
Second quartile =  1436.5
Third quartile =  1716.0

## 3.2. Centeral tendency: mean, median, and mode

In [31]:
print('mean = ', df['Number of cycles to failure'].mean())
print('median = ', df['Number of cycles to failure'].median())
print('mode = ', df['Number of cycles to failure'].mode())
print(df.value_counts())

mean =  1403.6571428571428
median =  1436.5
mode =  0    1102
1    1315
2    1750
dtype: int64
Number of cycles to failure
1102                           2
1315                           2
1750                           2
1512                           1
1522                           1
                              ..
1310                           1
1330                           1
1416                           1
1421                           1
2265                           1
Length: 67, dtype: int64

## 3.3. Variability: variance, standard deviation, range, interquartile range

In [33]:
print('variance = ', df['Number of cycles to failure'].var())
print('standard deviation = ', df['Number of cycles to failure'].std())
print('range = ', df['Number of cycles to failure'].max()-df['Number of cycles to failure'].min())
print('interquartile range = ', df['Number of cycles to failure'].quantile(.75)-df['Number of cycles to failure'].quantile(.25))

variance =  161913.88074534168
standard deviation =  402.3852392239826
range =  1890
interquartile range =  614.0

## 3.4. measure of symmetry: skewness(symmetry of distribution: 0 = symmetry), kurtosis (peakness  of distribution: 3 = normal distribution)

In [34]:
print('skewness = ', df['Number of cycles to failure'].skew())
print('kurtosis = ', df['Number of cycles to failure'].kurtosis())

skewness =  -0.025085358280582837
kurtosis =  -0.4445239893632338